DATABASE_URL=
NEXT_PUBLIC_APP_MODE=test
NEXT_PUBLIC_APP_ENV=staging
NEXT_PUBLIC_WEB_BASE_URL=https://staging.capataz.app
NEXT_PUBLIC_SUPPORT_EMAIL=soporte@capataz.app
CAPATAZ_MOBILE_SERVER_URL=https://staging.capataz.app
