DATABASE_URL=
NEXT_PUBLIC_APP_MODE=production
NEXT_PUBLIC_APP_ENV=production
NEXT_PUBLIC_WEB_BASE_URL=https://capataz.app
NEXT_PUBLIC_SUPPORT_EMAIL=soporte@capataz.app
CAPATAZ_MOBILE_SERVER_URL=https://capataz.app
CAPATAZ_MOBILE_MODE=release
